html, body {
    background-color:rgb(108, 177, 235);
    color:rgb(14, 2, 67);
    min-height: 100vh;
    font-size: 18px;
}

header {
    background-color: rgb(45, 105, 236);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:30px;
    padding-right:30px;
    height: 110px;
}

header img {
    width: 90px;
    height: 90px;
    margin-left: 10px;
}

header p {
    margin-left: 5px;
    font-size: 36px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(14, 2, 67);
    font-weight: bold;
    font-style: italic;
    position: relative;
    top: 25px;
}

.nav_header{
    background-color: rgb(108, 177, 235);
    padding-top:10px;
}

nav {
    background-color: rgb(45, 105, 236);
    border: 3px solid rgb(14, 2, 67);
    padding: 10px;
    right: 0px;
    top: 0px;
    margin: auto;
}

nav a {
    margin: 5px;
    color: rgb(14, 2, 67);
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

main {
    background-color: rgb(108, 177, 235);
    color:rgb(14, 2, 67);
}

.ul_div {
    border: 3px solid rgb(14, 2, 67);
    padding: 10px;
    margin: 10px auto;
    list-style-position: inside;
    margin-bottom: 10px;
    background-color: rgb(45, 105, 236);
}

ul img {
    width: 40vw;
}

ul li {
    margin: auto;
}

.table_div {
    border: 3px solid rgb(14, 2, 67);
    padding: 10px;
    margin: 10px auto;
    background-color: rgb(45, 105, 236);
}

table {
    border: 3px solid rgb(14, 2, 67);
}

th {
    background-color: rgb(14, 2, 67);
    color: rgb(108, 177, 235);
    border: 3px solid rgb(14, 2, 67);
}

td {
    border: 3px solid rgb(14, 2, 67);
}

tr:nth-child(even) {
    background-color: rgb(189, 217, 240);
}

tr:nth-child(odd) {
    background-color: rgb(91, 206, 241);
}

form {
    border: 3px solid rgb(14, 2, 67);
    padding-bottom: 20px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(45, 105, 236);
}

#anchor {
    font-size: 20px;
    font-weight: bold;
    margin: auto;
}

footer {
    background-color: rgb(45, 105, 236);
    padding: 10px;
    height: 110px;
    display: flex;
    align-items: flex-start;
}

footer p {
    font-size: 30px;
    font-weight: bold;
    color: rgb(14, 2, 67);
    margin-left: 30px;
    margin-top: 30px;
}

a:link {
    color: #06daf6; /* (не посещённая) */
  }
  
a:visited {
    color: #800080; /* (посещённая) */
}
